$red: #ff0000;
$nav-vertical-pad: 0.5em;
$vertical-pad: 1.5em;

$serif: 'Times New Roman', serif;
$sans-serif: 'Montserrat', sans-serif;

footer.site-footer {
  background-color: #ccc;
  color: #333;
  text-align: center;
  padding-top: $nav-vertical-pad*2;
  padding-bottom: $nav-vertical-pad*2;

}

header {
  background-color: #000;
  text-align: center;
  h1 {
    color: $red;
    font-family: $serif;
    margin-bottom: 0px;
    letter-spacing: .4em;
    padding-top: $nav-vertical-pad;
    padding-bottom: $nav-vertical-pad;
    text-transform: uppercase;
  }
}

nav {
  padding-top: $vertical-pad+0.5em;
  padding-bottom: $vertical-pad;
  ul {
    @extend %wrapper;
    margin-left: auto;
    margin-right: auto;
    li {
      font-family: $sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      /* float: left; */
      width: 24%;
      text-align: center;
      a {
        font-size: 1.6em;
        color: #000;
        &:hover {
          text-decoration: none;
        }
        &.active {
          color: $red;
          border-bottom: 4px solid #000;
        }
      }
    }
  }
}

section {

  padding-top: $vertical-pad;
  padding-bottom: $vertical-pad*2;

  h1, p, blockquote {
    @extend %wrapper;
  }

  blockquote {
    color: $red;
    font-size: 1.75em;
    font-family: $serif;
    margin-bottom: $vertical-pad;
    footer {
      strong { color: #000; font-size: 1.5em; }
      color: #888;
      display: block;
      padding-top: $vertical-pad;
      padding-left: 4em;
      font-weight: normal;
      font-size: 0.4em;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  h1, p, blockquote footer {
    font-family: $sans-serif;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: $vertical-pad;
  }
  h2 {
    text-align: center;
  }
  &#hero {
    background-color: lightblue;
    height: 300px;
    padding: 0px;
  }
  &.light {
    background-clor: #fff;
    h1 { color: #000; }
    p { color: #333; }
  }
  &.dark {
    background-color: #000;
    h1 { color: $red; text-align: right; }
    h2 { color: #aaa; }
    p { color: #fff; }
  }
}
